---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import HeroKit from '../components/HeroKit.astro';
import ArticleSection from '../components/ArticleSection.astro';
import { getEntry } from 'astro:content';


const homepage = await getEntry('homepage', 'index');
const { Content } = await homepage.render();
---
<!doctype html>
<html lang="zh-TW">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
		  main {
		    width: 720px;
		  }

		  @media (max-width: 1080px) {
		    main {
		      padding: 1em 2em;
		    }
		  }

		  @media (max-width: 720px) {
		    main {
		      padding: 1em;
		    }
		  }
		  /* Ordered List Styles */
		  ol {
		    counter-reset: item;
		    padding-left: 2em;
		  }

		  ol li {
		    display: block;
		    position: relative;
		    margin-bottom: 0.5em;
		  }

		  ol li::before {
		    content: counter(item) ".";
		    counter-increment: item;
		    position: absolute;
		    left: -1.5em;
		    width: 1em;
		    text-align: right;
		    color: var(--accent-dark);
		    font-weight: bold;
		  }

		  /* Unordered List (Bullet) Styles */
		  ul {
		    list-style-type: none;
		    padding-left: 1.5em;
		  }

		  ul li {
		    position: relative;
		    margin-bottom: 0.5em;
		  }

		  ul li::before {
		    content: "•";
		    position: absolute;
		    left: -1em;
		    color: var(--accent);
		    font-weight: bold;
		  }

		  /* Nested List Styles */
		  ul ul, ol ol, ul ol, ol ul {
		    margin-top: 0.5em;
		    margin-bottom: 0.5em;
		  }
		</style>
	</head>
	<body>
		<Header />
		<main>
			<HeroKit />
			<h1>{homepage.data.title}</h1>
			{homepage.data.heroImage && (
				<img src={homepage.data.heroImage} alt="Hero image" class="hero-image" />
			)}
			<p>{homepage.data.description}</p>
			
			<article>
				<Content />
			</article>

			<div class="article-section flex items-center justify-center pr-4 ml-0">
				<ArticleSection />
			</div>
		</main>
		<Footer />
		<!-- Facebook SDK -->
		<script>
			window.fbAsyncInit = function() {
			  FB.init({
				appId      : '1200990651170931',
				xfbml      : true,
				version    : 'v20.0'
			  });
			  FB.AppEvents.logPageView();
			};
		  
			(function(d, s, id){
			   var js, fjs = d.getElementsByTagName(s)[0];
			   if (d.getElementById(id)) {return;}
			   js = d.createElement(s); js.id = id;
			   js.src = "https://connect.facebook.net/en_US/sdk.js";
			   fjs.parentNode.insertBefore(js, fjs);
			 }(document, 'script', 'facebook-jssdk'));
		  </script>
	</body>
</html>