---
import { getCollection } from 'astro:content';
import FormattedDate from './FormattedDate.astro';

const posts = await getCollection('blog');
const latestPosts = posts
  .sort((a: any, b: any) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---

<section class="article-section flex flex-col items-left w-[750px] max-w-3xl gap-8 mx-auto">
  <h2 class="article-section-title font-2xl">最新宇宙紀錄</h2>
  <div class="post-grid">
    {latestPosts.map((post: any) => (
      <article class="post-card border-[0.3px]">
        <a href={`/blog/${post.slug}/`} class="post-link hover:no-underline">
          {post.data.heroImage && (
            <div class="post-image-container" transition:name={post.slug} >
              <img 
                src={post.data.heroImage} 
                alt={`Hero image for ${post.data.title}`} 
                class="post-image"
              />
            </div>
          )}
          <div class="post-content">
            <h3 class="post-title font-bold lg:text-2xl text-xl">{post.data.title}</h3>
            <p class="post-description text-xl line-clamp-3">{post.data.description}</p>
            <div class="post-date font-medium text-sm">
              <FormattedDate date={post.data.pubDate} />
            </div>
          </div>
        </a>
      </article>
    ))}
  </div>
</section>