---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE, NAV_LINKS } from '../consts';
import ThemeToggle from './ThemeToggle.astro';
---

<header>
	<nav class="flex justify-center items-center" >
		<div class="header-column logo-title-container">
			<a href="/" class="logo-title-flex flex vertical-align-center">
				<div class="logo">
					<svg width="40" height="40" viewBox="0 0 2039 2039">
						<path fill="currentColor" d="M1374.41 384.089C1392 384.573 1409.74 390.839 1422 403.795C1441.21 424.102 1440.1 452.411 1439.88 478.478Q1439.79 498.092 1439.17 517.696L1428.4 509.724C1404.87 494.563 1380.04 478.354 1354.68 466.537C1365.49 440.329 1370.12 411.94 1374.41 384.089Z"/>
						<path fill="currentColor" d="M729.123 384.186C731.083 384.029 732.783 384.2 734.727 384.471C736.385 385.908 736.797 387.081 737.351 389.135C739.238 396.132 739.858 403.6 741.271 410.727C743.767 423.309 747.262 435.978 750.951 448.269C755.555 463.614 761.314 477.65 769.182 491.608C745.829 506.772 721.414 520.283 697.222 534.046C688.741 538.692 680.545 543.93 672.282 548.953C671.654 530.888 672.209 512.65 672.044 494.562C671.878 476.406 670.278 456.96 673.137 439.001C674.597 429.832 677.467 421.128 682.284 413.166C693.1 395.289 709.905 388.876 729.123 384.186Z"/>
						<path fill="currentColor" d="M565.508 685.722L566.442 685.633L566.436 686.155L567.743 685.762C582.836 701.09 597.889 725.544 610.642 743.43Q650.979 799.237 690.047 855.939Q670.707 868.234 651.514 880.76C650.298 881.146 649.305 881.05 648.042 881.031C637.371 874.339 541.288 734.127 526.744 713.514C539.315 703.813 552.936 695.495 565.508 685.722Z"/>
						<path fill="currentColor" d="M1172 1600.11L1363.42 1599.96C1356.76 1616.38 1351.27 1632.65 1346.66 1649.77L1343.07 1663.5C1287.96 1664.46 1232.7 1663.81 1177.58 1663.52C1174.44 1646.59 1172.19 1617.6 1172 1600.11Z"/>
						<path fill="currentColor" d="M1567.62 713.85C1568.18 713.926 1568.77 713.925 1569.32 714.079C1575.8 715.895 1609.32 759.072 1614.32 766.248C1591.19 787.831 1565.95 806.794 1541.76 827.132C1522.08 843.677 1502.48 862.963 1481.31 877.463L1478.37 876.775C1460.87 861.981 1442.96 847.486 1426.1 831.965C1442.72 816.008 1461.67 801.862 1479.38 787.099Q1523.24 750.157 1567.62 713.85Z"/>
						<path fill="currentColor" d="M773.255 1600.11C846.915 1599.27 920.65 1600.16 994.319 1600.03C993.949 1621.31 995.209 1642.35 996.525 1663.58C926.636 1664.41 856.599 1663.71 786.702 1663.29C781.889 1642.56 775.812 1621.22 773.255 1600.11Z"/>
						<path fill="currentColor" d="M512.398 64.0177C526.9 62.6806 542.427 63.8241 557.025 63.8674Q598.455 63.8683 639.884 64.2975C633.031 90.4785 626.82 116.851 620.311 143.12C616.306 159.28 612.624 175.742 607.129 191.471C596.482 192.487 585.168 191.78 574.457 191.763L511.724 191.529C501.848 169.892 489.773 149.176 480.389 127.377C489.741 106.067 500.453 83.9655 512.398 64.0177Z"/>
						<path fill="currentColor" d="M1272.59 487.274C1262.48 500.964 1252.08 514.333 1240.66 526.96C1223.91 545.316 1203.5 561.183 1182.1 573.735Q1179.44 575.273 1176.75 576.745Q1174.05 578.218 1171.32 579.624Q1168.59 581.03 1165.83 582.368Q1163.06 583.707 1160.27 584.978Q1157.47 586.249 1154.64 587.451Q1151.82 588.652 1148.96 589.785Q1146.11 590.917 1143.23 591.98Q1140.35 593.042 1137.44 594.033Q1134.53 595.025 1131.6 595.944Q1128.67 596.864 1125.72 597.712Q1122.77 598.56 1119.8 599.336Q1116.83 600.111 1113.84 600.814Q1110.85 601.516 1107.84 602.146Q1104.83 602.775 1101.81 603.33Q1098.79 603.886 1095.76 604.367Q1092.73 604.849 1089.68 605.255Q1086.64 605.662 1083.59 605.995Q1080.53 606.327 1077.47 606.585Q1074.41 606.842 1071.35 607.025Q1068.28 607.208 1065.21 607.315Q1062.14 607.423 1059.07 607.455Q1056 607.488 1052.93 607.445Q1049.86 607.402 1046.79 607.284Q1043.72 607.166 1040.66 606.973Q1037.59 606.78 1034.53 606.513Q1031.47 606.245 1028.42 605.902Q1025.37 605.559 1022.33 605.142Q1019.28 604.725 1016.25 604.233Q1013.22 603.742 1010.2 603.176Q1007.18 602.61 1004.18 601.971Q1001.18 601.332 998.188 600.619Q995.201 599.906 992.232 599.121C932.504 583.526 873.238 543.551 841.752 489.613C850.599 490.717 871.321 502.963 881.354 507.257C897.241 514.055 913.596 520.503 930.18 525.379Q935.488 526.906 940.831 528.302Q946.175 529.699 951.551 530.965Q956.927 532.23 962.333 533.364Q967.738 534.498 973.169 535.5Q978.601 536.501 984.055 537.37Q989.509 538.238 994.983 538.974Q1000.46 539.709 1005.95 540.31Q1011.44 540.911 1016.94 541.378Q1022.44 541.844 1027.96 542.177Q1033.47 542.509 1038.99 542.706Q1044.51 542.904 1050.03 542.966Q1055.55 543.029 1061.08 542.957Q1066.6 542.884 1072.12 542.677Q1077.64 542.47 1083.15 542.128Q1088.66 541.786 1094.17 541.309Q1099.67 540.833 1105.16 540.222Q1110.65 539.611 1116.12 538.866Q1121.59 538.121 1127.04 537.243Q1132.5 536.365 1137.93 535.354Q1143.36 534.343 1148.76 533.199Q1154.16 532.056 1159.54 530.78Q1164.91 529.505 1170.25 528.099Q1175.59 526.693 1180.9 525.157Q1186.2 523.621 1191.47 521.955Q1196.73 520.29 1201.96 518.497Q1207.18 516.703 1212.36 514.783Q1217.54 512.862 1222.67 510.816Q1227.8 508.769 1232.88 506.598Q1237.96 504.427 1242.98 502.133Q1248 499.838 1252.97 497.421Q1257.94 495.005 1262.84 492.467Q1267.75 489.93 1272.59 487.274Z"/>
						<path fill="currentColor" d="M1039.74 96.5032Q1048.23 96.0142 1056.74 96.0738Q1065.25 96.1334 1073.74 96.7414Q1082.22 97.3494 1090.65 98.5033Q1099.08 99.6571 1107.42 101.352C1175.58 115.826 1232.48 155.77 1270.48 213.958C1254.92 207.983 1240.07 199.949 1224.51 193.802C1173.55 173.679 1122.83 163.896 1068.28 160.755Q1062.17 160.62 1056.07 160.648Q1049.96 160.676 1043.86 160.867Q1037.75 161.058 1031.66 161.412Q1025.56 161.766 1019.47 162.282Q1013.39 162.799 1007.32 163.477Q1001.25 164.156 995.201 164.996Q989.152 165.837 983.128 166.838Q977.103 167.839 971.108 169.001Q965.112 170.163 959.15 171.485Q953.188 172.806 947.263 174.286Q941.338 175.767 935.454 177.404Q929.571 179.042 923.733 180.836Q917.896 182.63 912.108 184.58Q906.321 186.529 900.587 188.632Q894.854 190.735 889.178 192.991Q883.503 195.246 877.89 197.652C864.683 203.24 851.987 209.901 839.067 216.106C844.561 207.379 851.032 199.004 857.608 191.06C905.748 132.9 965.159 103.627 1039.74 96.5032Z"/>
						<path fill="currentColor" d="M1662.71 1377.53C1676.77 1381.12 1773.86 1458.25 1791.79 1471.92C1781.43 1487.97 1773.67 1506.12 1765.35 1523.28L1728.6 1598.79C1714.18 1598.77 1687.08 1589.1 1671.78 1585.22C1647.95 1579.2 1623.74 1574.07 1600.08 1567.51C1599.26 1535.47 1599.93 1503.27 1599.84 1471.21C1621.27 1440.31 1641.7 1408.72 1662.71 1377.53Z"/>
						<path fill="currentColor" d="M1758.17 257.614C1760.69 258.413 1761.94 259.559 1763.61 261.51C1775.86 275.841 1786.73 291.963 1797.95 307.128Q1826.14 345.825 1855.75 383.441C1818.64 419.256 1782.78 456.502 1746.26 492.93Q1737.54 501.823 1728.41 510.3C1705.84 491.158 1683.2 469.338 1663.77 447.002L1664.32 350.968C1679.5 337.069 1693.86 322.281 1708.47 307.789C1725.18 291.218 1742.12 274.823 1758.17 257.614Z"/>
						<path fill="currentColor" d="M511.698 1695.84C527.704 1697.74 544.172 1702.41 560.011 1705.65Q615.842 1717.35 671.878 1728.03Q671.206 1791.73 671.476 1855.43C654.281 1858.01 637.161 1861.94 620.177 1865.64L512.347 1887.31C507.224 1875.38 481.446 1800.98 481.863 1791.42C482.483 1777.23 505.944 1714.17 511.698 1695.84Z"/>
						<path fill="currentColor" d="M318.373 320.78C325.972 320.724 435.714 376.548 447.383 384.857C438.626 403.498 431.529 423.116 424.03 442.298C410.869 475.965 397.853 509.911 383.38 543.038C375.278 541.65 367.207 539.139 359.247 537.069C349.466 533.131 337.152 531.415 326.849 528.957C303.378 523.355 279.754 517.917 256.482 511.548C249.603 490.677 245.501 467.974 240.254 446.576C235.157 425.787 228.602 404.82 224.932 383.75C255.506 361.952 287.982 342.842 318.373 320.78Z"/>
						<path fill="currentColor" d="M1181.54 1728.21C1233.63 1726.98 1285.85 1727.71 1337.96 1727.99Q1338.08 1733.85 1338.45 1739.7Q1338.83 1745.55 1339.47 1751.38Q1340.1 1757.21 1340.99 1763.01Q1341.88 1768.8 1343.03 1774.55Q1344.18 1780.3 1345.58 1786Q1346.98 1791.69 1348.63 1797.32Q1350.28 1802.94 1352.17 1808.49Q1354.07 1814.04 1356.21 1819.5C1363.34 1837.87 1374.15 1856.88 1375.53 1876.79C1376.99 1897.77 1368.13 1915.14 1354.71 1930.57C1340.5 1943.11 1324.39 1950.57 1305.23 1951.16C1274.83 1952.1 1242.1 1938.45 1220.32 1917.46C1185.5 1883.89 1184.45 1841.23 1183.26 1796.06L1181.54 1728.21Z"/>
						<path fill="currentColor" d="M810.782 1728.32C835.607 1727.61 860.651 1728.31 885.499 1728.27Q944.919 1727.92 1004.34 1728.19C1015.72 1785.88 1023.19 1818.33 1000.83 1875.53C995.361 1889.51 989.48 1903.55 981.389 1916.23C979.147 1919.48 976.676 1922.77 974.055 1925.73C960.602 1940.91 938.183 1950.26 918.117 1951.23Q917.095 1951.28 916.072 1951.3Q915.049 1951.32 914.025 1951.31Q913.002 1951.31 911.979 1951.28Q910.957 1951.25 909.935 1951.2Q908.913 1951.14 907.893 1951.06Q906.873 1950.98 905.855 1950.88Q904.837 1950.77 903.822 1950.65Q902.807 1950.52 901.795 1950.36Q900.783 1950.21 899.776 1950.03Q898.769 1949.85 897.766 1949.65Q896.763 1949.44 895.766 1949.21Q894.768 1948.99 893.776 1948.73Q892.785 1948.48 891.8 1948.2Q890.815 1947.93 889.837 1947.62Q888.859 1947.32 887.889 1947Q886.918 1946.67 885.956 1946.32Q884.994 1945.98 884.041 1945.6Q883.088 1945.23 882.144 1944.84Q881.201 1944.44 880.267 1944.02Q879.333 1943.6 878.41 1943.16Q877.487 1942.72 876.575 1942.26Q875.663 1941.79 874.762 1941.31Q873.862 1940.82 872.974 1940.31Q872.086 1939.8 871.21 1939.27Q870.335 1938.74 869.473 1938.19Q868.611 1937.64 867.762 1937.07Q866.914 1936.5 866.08 1935.9Q865.246 1935.31 864.426 1934.7Q863.607 1934.09 862.803 1933.45Q861.999 1932.82 861.211 1932.17Q860.423 1931.51 859.651 1930.84Q858.879 1930.17 858.124 1929.48C847.329 1919.51 840.527 1906.94 836.492 1892.9C828.017 1863.41 831.507 1830.47 826.742 1800.13C824.381 1785.09 820.683 1770.25 816.955 1755.5C814.79 1746.95 811.081 1737.12 810.782 1728.32Z"/>
						<path fill="currentColor" d="M1653.89 817.704C1655.79 817.95 1656.21 818.203 1657.65 819.538C1665.68 827.006 1672.52 837.421 1679.25 846.129C1694.74 866.157 1710.51 887.107 1729.31 904.188C1740.83 914.65 1754.58 923.013 1768.62 929.626C1782.65 936.237 1799.57 941.087 1810.95 951.933C1818.3 958.943 1823.24 969.883 1823.35 980.076C1823.44 987.473 1820.93 996.358 1817.57 1002.85C1802.38 1032.2 1769.79 1015.82 1745.97 1027.79C1725.97 1037.84 1706.58 1062.24 1690.71 1078.26C1686.09 1082.39 1681.27 1085.84 1675.02 1086.89C1666.69 1088.3 1659.65 1084.67 1654.47 1078.28C1643.69 1064.97 1638.94 1044.57 1631 1029.25C1610.7 990.078 1565.07 947.336 1529.26 921.678C1539.22 911.344 1552.1 902.319 1563.23 893.113C1593.42 868.142 1624.93 844.077 1653.89 817.704Z"/>
						<path fill="currentColor" d="M477.602 758.515C485.476 763.208 577.14 896.583 593.776 918.721C573.191 935.855 539.8 950.722 521.803 968.678C497.405 993.02 530.298 1032.78 529.426 1061.06C529.117 1071.09 524.63 1079.89 517.386 1086.71C509.163 1094.45 499.674 1098.6 488.217 1098.11C469.116 1097.28 457.836 1084.63 445.791 1071.72C440.089 1065.56 434.723 1060.84 426.665 1057.87C395.565 1046.43 326.832 1067.71 300.883 1046.49C292.789 1039.87 289.009 1030.65 288.44 1020.39C287.235 998.655 318.862 973.903 333.192 959.778C347.698 945.48 364.822 931.257 376.686 914.733C388.339 898.503 394.827 877.443 404.522 859.762C425.099 822.234 449.896 790.918 477.602 758.515Z"/>
						<path fill="currentColor" d="M1052.82 224.448C1151.73 223.477 1222.2 262.814 1307.8 305.642C1311.66 336.931 1310.79 365.918 1307.31 397.19C1293.55 405.369 1279.01 412.543 1264.8 419.942C1197.76 454.873 1134.83 476.565 1058.81 478.275C979.774 477.573 925.456 458.71 855.285 423.656C838.254 415.148 820.013 407.201 803.867 397.147C800.63 365.723 800.65 336.568 803.748 305.13C864.386 277.159 921.74 242.185 988.479 230.52C1009.8 226.793 1031.24 225.592 1052.82 224.448Z"/>
						<path fill="currentColor" d="M795.491 1151.77C853.332 1150.42 911.519 1151.78 969.396 1151.81L1359.53 1151.68C1368.04 1193.19 1381.62 1232.9 1391.86 1273.9Q1392.9 1277.91 1393.88 1281.94Q1394.85 1285.97 1395.76 1290.02Q1396.67 1294.06 1397.51 1298.12Q1398.34 1302.18 1399.11 1306.26Q1399.88 1310.33 1400.58 1314.42Q1401.28 1318.5 1401.91 1322.6Q1402.53 1326.7 1403.09 1330.81Q1403.65 1334.92 1404.14 1339.03Q1404.63 1343.15 1405.05 1347.27Q1405.47 1351.4 1405.82 1355.53Q1406.16 1359.66 1406.44 1363.8Q1406.72 1367.93 1406.93 1372.08Q1407.13 1376.22 1407.27 1380.36Q1407.41 1384.5 1407.47 1388.65Q1407.54 1392.79 1407.54 1396.94Q1407.53 1401.09 1407.46 1405.23Q1407.38 1409.38 1407.24 1413.52Q1407.09 1417.66 1406.87 1421.8Q1406.66 1425.94 1406.37 1430.08Q1406.08 1434.21 1405.73 1438.35Q1405.37 1442.48 1404.94 1446.6Q1404.51 1450.72 1404.02 1454.84Q1403.52 1458.95 1402.95 1463.06Q1402.38 1467.17 1401.74 1471.26Q1401.11 1475.36 1400.4 1479.45Q1399.69 1483.53 1398.91 1487.6Q1398.14 1491.68 1397.29 1495.73Q1396.44 1499.79 1395.53 1503.84Q1394.61 1507.88 1393.63 1511.91Q1392.65 1515.94 1391.59 1519.95Q1390.54 1523.96 1389.42 1527.95Q1388.3 1531.94 1387.11 1535.91C1312.49 1536.7 1237.6 1536.22 1162.96 1535.55Q1159.86 1514.71 1156.44 1493.93C1152.97 1461.61 1127.32 1311.14 1112.85 1291.79C1108.05 1285.38 1100.23 1281.26 1092.38 1280.16C1083.9 1278.96 1074.8 1280.74 1068.02 1286.15C1055.69 1295.98 1050.02 1317.5 1044.87 1331.86C1020.63 1399.5 1006.57 1464.2 997.636 1535.3C919.074 1536.67 840.336 1535.47 761.749 1535.61C750.408 1441.75 763.138 1358.29 777.647 1266.19Q786.099 1208.91 795.491 1151.77Z"/>
						<path fill="currentColor" d="M1325.04 524.364C1334.69 525.532 1347.94 536.247 1356.38 541.444C1389.29 561.72 1421.54 582.256 1452.09 606.054C1476.62 625.157 1499.38 646.09 1523.12 666.098Q1469.13 712.842 1413.81 758.003C1394.91 773.448 1366.07 793.694 1350.67 812.011C1346.19 817.342 1345.02 824.062 1344.24 830.809C1341.55 854.092 1343.93 879.02 1343.99 902.503C1344.07 934.195 1343.57 965.967 1344.33 997.648Q1345.71 1042.64 1348.88 1087.54C1326.97 1088.32 1304.84 1087.79 1282.9 1087.79L1161.75 1087.69L796.534 1087.96C792.531 1062.39 789.828 1036.51 786.403 1010.85C783.262 982.403 778.903 954.065 775.67 925.619C773.313 904.874 772.893 877.031 766.803 857.666C759.903 835.73 736.467 808.172 722.692 789.111L661.716 704.665C649.231 687.265 635.946 669.924 624.968 651.534C637.575 642.058 653.016 634.451 666.626 626.397Q703.492 604.419 740.805 583.211C761.494 571.422 782.578 560.138 802.194 546.599C810.374 554.941 817.715 564.175 825.807 572.638Q836.306 583.438 847.63 593.369Q858.955 603.301 871.033 612.3C936.47 660.857 1024.33 679.755 1104.45 667.88C1201.45 653.503 1268.22 600.969 1325.04 524.364ZM1101.38 734.53C1069.45 735.619 1037.39 735.063 1005.44 735.139C984.723 735.188 961.512 733.285 941.391 738.595Q939.364 739.119 937.38 739.785Q935.395 740.45 933.463 741.255Q931.531 742.059 929.66 742.998Q927.789 743.937 925.989 745.006Q924.19 746.075 922.47 747.268Q920.75 748.461 919.119 749.773Q917.488 751.085 915.954 752.509Q914.42 753.933 912.99 755.462C906.76 762.083 901.373 770.811 898.955 779.61C891.635 806.246 895.345 834.846 895.5 862.092C895.617 882.696 894.882 903.388 895.713 923.975C896.539 944.44 901.792 961.317 917.366 975.336C942.054 997.559 979.1 992.57 1009.68 991.92L1099.21 991.92C1121.66 991.957 1146.98 994.5 1168.88 989.16Q1170.89 988.663 1172.86 988.029Q1174.83 987.395 1176.76 986.628Q1178.68 985.861 1180.55 984.965Q1182.41 984.068 1184.21 983.046Q1186.01 982.023 1187.74 980.88Q1189.47 979.737 1191.11 978.479Q1192.75 977.22 1194.31 975.852Q1195.86 974.484 1197.32 973.013C1217.57 952.861 1217.08 923.695 1216.92 897.04C1216.83 882.138 1216.36 867.241 1216.4 852.339C1216.47 829.105 1219.34 802.479 1212.83 779.993C1210.05 770.391 1204.34 761.398 1197.3 754.356C1176.39 733.458 1147.81 733.917 1120.15 734.17Q1110.76 734.279 1101.38 734.53Z"/>
						<path fill="currentColor" d="M961.187 800.369C992.046 799.783 1023 800.168 1053.87 800.134C1086.38 800.099 1119.01 799.674 1151.52 800.512C1151.23 819.532 1153.56 919.012 1150.58 927.107C1126.13 928.572 1101.53 927.854 1077.05 927.792L960.204 927.518C959.775 904.169 956.406 816.085 961.187 800.369Z"/>
					</svg>
				</div>
				<div class="title flex justifu-center items-center">
					<h2>{SITE_TITLE}</h2>
				</div>
			</a>
		</div>
		<div class="header-column desktop-nav">
			<div class="flex justify-center items-center">
				{NAV_LINKS.map((link) => (
					<HeaderLink href={link.url} class="mx-2">{link.title}</HeaderLink>
				))}
			</div>
		</div>
		<div class="header-column theme-toggle" transition:persist="theme" >
			<ThemeToggle />
			<button class="hamburger" aria-label="Menu" onclick="document.querySelector('.mobile-nav').classList.toggle('active')">
				<span></span>
				<span></span>
				<span></span>
			</button>
		</div>
	</nav>
	<div class="mobile-nav">
		{NAV_LINKS.map((link) => (
			<HeaderLink href={link.url}>{link.title}</HeaderLink>
		))}
	</div>
</header>

<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: var(--theme-bg);
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		transition: background-color 0.3s ease, color 0.3s ease;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
		color: var(--theme-text);
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1em 0.5em;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--theme-text);
		border-bottom: 4px solid transparent;
		text-decoration: none;
		transition: color 0.3s ease;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	.theme-toggle {
		margin-left: 10em;
	}
	.hamburger {
		display: none;
		flex-direction: column;
		justify-content: space-around;
		width: 2rem;
		height: 2rem;
		background: transparent;
		border: none;
		cursor: pointer;
		padding: 0;
	}
	.hamburger span {
		width: 2rem;
		height: 0.25rem;
		background-color: var(--theme-text);
		border-radius: 10px;
		transition: all 0.3s linear;
	}
	.mobile-nav {
		display: none;
		flex-direction: column;
		align-items: center;
		padding: 1em;
	}
	.mobile-nav a {
		padding: 0.5em;
		color: var(--theme-text);
		text-decoration: none;
	}
	@media (max-width: 640px) {
		.body{
			white-space: normal;
		}
		.desktop-nav {
		display: none;
		}
		.hamburger {
			display: flex;
			margin-left: 1rem;
		}
		.mobile-nav.active {
			display: flex;
		}
		.header-column:last-child {
			display: flex;
			align-items: center;
		}
		.theme-toggle {
			margin-left: 0;
		}
	}
</style>

<script type="text/partytown" is:inline>
	document.addEventListener('astro:after-swap', () => {
		document.body.classList.remove('light', 'dark');
		document.body.classList.add(document.documentElement.classList.contains('dark') ? 'dark' : 'light');

		const hamburger = document.querySelector('.hamburger');
		const mobileNav = document.querySelector('.mobile-nav');
		if (hamburger && mobileNav) {
			hamburger.addEventListener('click', () => {
				mobileNav.classList.toggle('active');
			});
		}
	});

	document.addEventListener('DOMContentLoaded', () => {
		const hamburger = document.querySelector('.hamburger');
		const mobileNav = document.querySelector('.mobile-nav');
		if (hamburger && mobileNav) {
			hamburger.addEventListener('click', () => {
				mobileNav.classList.toggle('active');
			});
		}
	});
</script>