---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Breadcrumb from "../components/Breadcrumb.astro";
import { Image } from "astro:assets";
import "../styles/global.css";
import "../styles/blogpost.css";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="zh-TW">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main>
      <div class="w-full max-w-3xl mx-auto mt-0">
        <Breadcrumb />
      </div>
      <article>
        <div class="rounded-2xl max-w-2xl mx-auto" transition:name="${slug}">
          {
            heroImage && (
              <Image
                src={heroImage}
                alt={title}
                loading="eager"
                inferSize={true}
                class="rounded-xl"
                decoding="async"
                fetchpriority="high"
                format={"avif"}
              />
            )
          }
        </div>
        <div class="w-full max-w-2xl mx-auto">
          <div class="title">
            <h1 class="text-left">{title}</h1>
            <div
              class="date text-right text-sm md:text-lg font-normal text-[var(--color-accent)]"
            >
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <hr />
          </div>
          <div class="blog-content">
            <slot />
          </div>
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
